.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.npmrc
typings
src/components/DragResize.js
src/components/DragResizeContainer.js
src/components/hooks.js
src/components/types.js
src/components/utils.js
src/index.js
